/* header */

.header-login-signup{
	background-color:#e6e9e9;
	box-shadow:0 1px 1px #ccc;
	padding: 20px;
	height: 60px;
	color: #ffffff;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}



/* Logo */



/* Making the header responsive */

@media all and (max-width: 600px) {

	

	.header-login-signup .header-limiter nav {
		margin: 0;
		float: none;
	}
}
